fastapi
uvicorn
python-dotenv
langchain
langchain-groq
langchain-community
langchain-core
langchain-tavily
langgraph
langgraph-checkpoint-postgres
requests
pypdf
faiss-cpu
nest_asyncio
scikit-learn
sentence-transformers
psycopg2-binary
langchain-postgres
psycopg[binary]
psycopg[binary]